---
import BlogLayout from '../../layouts/BlogLayout.astro';

const post = await Astro.glob('../../content/blog/first-post.md');
const { title, date, category } = post[0].frontmatter;
const Content = post[0].default;
---

<BlogLayout title={title} date={date}>
  <p><strong>Kategori:</strong> {category}</p>
  <Content />
</BlogLayout>
